---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container flex vh-100   position-relative p-3 overflow-auto">
	<Form/>
	</main>
</Layout>

