---
interface Props {
	title: string;
	body: string;
}

const {  title, body } = Astro.props;
---

<li class="card shadow-lg p-3 mb-5 bg-white rounded">
	  <div class="card-body">
    <h5 class="card-title">{title}</h5>
    <p class="card-text">{body}</p>
  </div>
	
</li>

